<section>
    <div class="row">
      <div class="col-lg-9 main-chart">
        <p class="title">NAUCNI RAD</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 main-chart">
        <form name="form" (ngSubmit)="save()">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                      <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Ime</th>
                                <th>Prezime</th>
                                <th>Domen ekspertize</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let user of users">
                                <td>{{user.id}}</td>
                                <td>{{user.ime}}</td>
                                <td>{{user.prezime}}</td>
                                <td>{{user.domen}}</td>
                                <td *ngIf="!contains(user)"><button (click)="add(user)" class="btn btn-success btn-xs"><i class="fa fa-check"></i></button></td>
                                <td *ngIf="contains(user)"><button (click)="delete(user)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button> </td>
                            </tr>
                            </tbody>
                        </table>
                    <br>
                </div>   
              </div> 
        <!-- <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5 border">
              <div class="border-title">recenzent 1</div>
              <div class="form-group">
                  <select class="form-control" [(ngModel)]="revision.review1" [ngModelOptions]="{standalone: true}">
                      <option selected="selected" disabled>Recenzent...</option>
                      <option *ngFor="let user of users" [value]="user.korisnickoIme">{{user.ime}}  {{user.prezime}}  ( {{user.korisnickoIme}} )</option>
                </select>
              </div>
            </div>
            <div class="col-lg-5 border">
              <div class="border-title">recenzent 2</div>
              <div class="form-group">
                  <select class="form-control" [(ngModel)]="revision.review2" [ngModelOptions]="{standalone: true}">
                      <option selected="selected" disabled>Recenzent...</option>
                      <option *ngFor="let user of users" [value]="user.korisnickoIme">{{user.ime}}  {{user.prezime}}  ( {{user.korisnickoIme}} )</option>
                </select>
              </div>
            </div>
          </div> -->
          <div class="row">
              <div class="col-lg-1"></div>
              <div class="col-lg-5">
                <div class="full-button cancel" >
                  <a class="full-button-text" (click)="cancel()">Odustani
                  </a>
                </div>
              </div>
              <div class="col-lg-5">
                <div class="full-button">
                    <button type="submit" class="save-button-text">Dodaj recenzente</button>
              </div>
              </div>
          </div>
        </form>
      </div>
    </div>
  </section>
