<br><br><br>
<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-10">
        <table class="table table-hover">
              <thead>
              <tr>
                  <th>#</th>
                  <th>Revizija</th> 
              </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let work of works">
                    <td style="width: 100px;">{{work.id}}</td>
                        <td>
                        <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                       
                                        <th>Naslov</th>
                                     </tr>
                                 </thead>
                                 <tbody>
                                         <tr *ngFor="let revision of work.revisions">
                                             <td style="width: 80px;">{{revision.id}}</td>
                                            
                                             <td>{{revision.title| slice: 0:80}}</td>
                                         </tr>
     
                                 </tbody>
                            </table>
                  </td>
                </tr>
            </tbody>
          </table>
      <br>
  </div>   
</div>