<div *ngIf="currentFileUpload" class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped"
      role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
      aria-valuemin="0" aria-valuemax="100"
      [ngStyle]="{width:progress.percentage+'%'}">
      {{progress.percentage}}%</div>
</div>
<section>
    <div class="row">
      <div class="col-lg-9 main-chart">
        <p class="title">NAUCNI RAD</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10">
        <a (click)="gotoGetPDF()" class="small-btn">PDF</a>
        <a (click)="gotoGetXHTML()" class="small-btn">XHTML</a>
        <a (click)="gotoGetXML()" class="small-btn">XML</a>
      </div>   
    </div>
    <div *ngFor="let revision of work.revisions; let i=index" >
        <div class="row" *ngIf="revision.status !== 'OBRISAN'">
          <div class="col-lg-9 main-chart pFont">
            <p class="title" (click)="goToRevizija(revision.id)">REVIZIJA {{i+1}}</p>
          </div>
        </div>
        <div class="row" *ngIf="revision.status !== 'OBRISAN'">
          <div class="col-lg-9 main-chart">
            <div class="row">
              <div class="col-lg-1"></div>
              <div class="col-lg-10">
                <div class="notification">
                  <p (click)="goToRevizija(revision.id)"> <br> {{revision.title}} <br> &nbsp; </p>
                </div>
              </div>   
            </div>  
            <div class="row" *ngIf="revision.status==='POSLAT' && !revision.hasLetter">
              <div class="col-lg-1"></div>
              <div class="col-lg-5 border">
                <div class="border-title"></div>
                <div class="form-group">
                    <label class="btn btn-default">
                        <input type="file" (change)="selectFile($event)" value="Izaberi naucni rad">
                      </label>
                </div>
              </div>
              <div class="col-lg-5 border">
                <div class="border-title"></div>
                <div class="form-group">
                    <button class="btn btn-success" [disabled]="!selectedFiles"
                    (click)="upload(revision.id)">Dodaj propratno pismo</button>
                </div>
              </div>
          </div>   
          <div class="row" *ngIf="revision.status==='POTREBNA_IZMENA' && revision.flag === true">
            <div class="col-lg-1"></div>
            <div class="col-lg-5 border">
              <div class="border-title"></div>
              <div class="form-group">
                  <label class="btn btn-default">
                      <input type="file" (change)="selectFile($event)" value="Izaberi reviziju">
                    </label>
              </div>
            </div>
            <div class="col-lg-5 border">
              <div class="border-title"></div>
              <div class="form-group">
                  <button class="btn btn-success" [disabled]="!selectedFiles"
                  (click)="uploadRevision()">Dodaj reviziju</button>
              </div>
            </div>
        </div> 
          </div>
          </div>   
        <br>
      </div>
</section>
