<header class="header black-bg">
  <div class="sidebar-toggle-box">
      <img src="http://www.freeiconspng.com/uploads/home-house-silhouette-icon-building--public-domain-pictures--20.png" style="height: 30px;">
  </div>
  <a class="logo"><b>Pocetna</b></a>
  <div class="nav notify-row" id="top_menu" style="margin-left: 40%;">
      <ul class="nav pull-right top-menu">
          <a class="logo2">  AUTOR </a>
      </ul>
  </div>
  <div class="top-menu">
      <ul class="nav pull-right top-menu">
          <ul class="nav top-menu">
            <button (click)="logout()">Odjava</button>           
          </ul>
      </ul>
      <ul class="nav pull-right top-menu">
          <a class="logo">{{username}} &nbsp; &nbsp;</a>
      </ul>
      <ul class="nav pull-right top-menu">
          <a class="logo"> 
              <img src="https://www.shareicon.net/download/2016/05/29/772558_user_512x512.png" style="height: 30px; margin-right: 5px;">
          </a>
      </ul>
  </div>
</header>

<aside>
  <div id="sidebar"  class="nav-collapse ">
      <ul class="sidebar-menu" id="nav-accordion">
          <nav>
              <li class="mt">
                  <a [routerLink]="['/autor/naucniRadovi/novi']">
                      <i class="fa fa-building"></i>
                      <span>Objavi naucni rad</span>
                  </a>
              </li>
              <li class="sub-menu">
                  <a [routerLink]="['/users']">
                      <i class="fa fa-users"></i>
                      <span>Moji naucni radovi</span>
                  </a>
              </li>
          </nav>
      </ul>
  </div>
</aside>


<section id="container">
  <section id="main-content">
      <section class="wrapper">
          <router-outlet></router-outlet>
      </section>
  </section>
</section>