<div id="login-page">
  <div class="container">
    <form class="form-login" name="form">
      <div class="login-wrap">
        <br>
        <input type="text" class="form-control" placeholder="Ime" name="ime" [(ngModel)]="korisnik.ime" >
        <br>
        <input type="text" class="form-control" placeholder="Prezime" name="prezime" [(ngModel)]="korisnik.prezime">
        <br>
        <input type="text" class="form-control" placeholder="Korisnicko ime" name="korisnicko_ime" [(ngModel)]="korisnik.korisnicko_ime" autofocus>
        <br>
        <input type="password" class="form-control" placeholder="Lozinka" name="lozinka" [(ngModel)]="korisnik.lozinka">
        <br>
        <input type="email" class="form-control" placeholder="E-mail" name="email" [(ngModel)]="korisnik.email">
        <br>
        <select class="form-control" [(ngModel)]="korisnik.uloga" [ngModelOptions]="{standalone: true}">
          <option selected="selected">AUTOR</option>
          <option>RECENZENT</option>
        </select>
        <br>
        <div *ngFor="let domen of domeni; let i=index ">
          <input style="width: 90%;" type="text" class="form-control" placeholder="Domen ekspertize" name="domen" [(ngModel)]="domeni[i].text">
          <button (click)="addDomen()" *ngIf="i+1 === domeni.length" style="float: right; margin-top: -30px; margin-right: 5%;"><i class="fa fa-plus"></i></button>
          <button (click)="deleteDomen()" *ngIf="i+1 === domeni.length" style="float: right; margin-top: -30px;"><i class="fa fa-minus"></i></button>
        </div>
        <br>
        <br>
        <button (click)="save()" class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> REGISTRUJ SE</button>
      </div>
    </form>	
  </div>
</div>
<br>
<br>